---
layout: page
title: Airspace
permalink: /
---

<!-- Slider Start -->
<section id="slider">
  <div class="container">
    <div class="row">
      <div class="col-md-10 col-md-offset-2">
        <div class="block">
          <h1 class="animated fadeInUp">LEO Club Pulchowk</h1>
          <p class="animated fadeInUp">Awaken the lion inside you!</p>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Wrapper Start -->
<section id="intro">
  <div class="container">
    <div class="row">
      <div class="col-md-7 col-sm-12">
        <div class="block">
          <div class="section-title">
            <h2>About Us</h2>
            <p>“Leadership, Experience, Opportunity.” That's what makes a Leo. Members of Leo clubs embody the best
              qualities of our incredible organization. They are devoted young people who realize the power of action.
              Together, Leos and Lions form a powerful partnership — one of mutual respect where Lions learn from the
              innovative insights of Leos, and where Leos gain access to the proven strategies of those who’ve
              successfully served the world for decades.</p>
          </div>
          <p>Leo clubs encourage youths to develop leadership qualities by participating in social service activities.
            They are dependent on a Lions club to sponsor and initiate a Leo club. They conduct various projects in the
            fields of Healthcare, Elders, children and Disabled people, Literacy and Education and Self-development.</p>
        </div>
      </div><!-- .col-md-7 close -->
      <div class="col-md-5 col-sm-12">
        <div class="block">
          <img src="img/leo-club-pulchowk.jpg" alt="Img">
        </div>
      </div><!-- .col-md-5 close -->
    </div>
  </div>
</section>

<section id="feature">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-md-offset-6">
        <h2>WE BELIEVE IN GREAT IDEAS</h2>
        <p>
          The Leo Club, initiated by Lions Clubs International in 1957, is a global youth organization fostering
          leadership and community service. Founded in Abington, Pennsylvania, USA, the program quickly expanded
          worldwide. Leo Clubs, often sponsored by local Lions Clubs, operate in schools and communities, providing a
          platform for young individuals to engage in volunteerism and make a positive impact. Activities range from
          health fairs to environmental initiatives, with an emphasis on collaboration with other service organizations.
          International Leo Day on December 5th celebrates their contributions. Structured under Lions Clubs
          International, Leo Clubs follow ethical and service-oriented principles, preparing young members for a
          lifetime of community service and leadership. The program's success lies in empowering youth to contribute
          meaningfully to their communities, promoting a spirit of volunteerism and civic responsibility.
        </p>
        <a href="#" class="btn btn-view-works">View Works</a>
      </div>
    </div>
  </div>
</section>

<!-- Service Start -->
<section id="service">
  <div class="container">
    <div class="row">
      <div class="section-title">
        <h2>Our Services</h2>
        <p>Every journey begins with a single step. One act of service, one encouraging word, one gift of generosity is
          often all it takes to bring hope where it’s needed most</p>
      </div>
    </div>
    <div class="row d-flex justify-content-center">
      <div class="col-md-1"></div>
      <div class="col-sm-6 col-md-2">
        <div class="service-item">
          <i class="icon ion-coffee"></i>
          <h4>Diabetes</h4>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut </p>
        </div>
      </div>
      <div class="col-sm-6 col-md-2">
        <div class="service-item">
          <i class="ion-compass"></i>
          <h4>Vision</h4>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut </p>
        </div>
      </div>
      <div class="col-sm-6 col-md-2">
        <div class="service-item">
          <i class="ion-image"></i>
          <h4>Hunger</h4>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut </p>
        </div>
      </div>
      <div class="col-sm-6 col-md-2">
        <div class="service-item">
          <i class="ion-bug"></i>
          <h4>Environment</h4>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut </p>
        </div>
      </div>
      <div class="col-sm-6 col-md-2">
        <div class="service-item">
          <i class="ion-headphone"></i>
          <h4>Childhood Cancer</h4>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut </p>
        </div>
      </div>
      <!-- <div class="col-sm-6 col-md-3">
          <div class="service-item">
            <i class="ion-leaf"></i>
            <h4>Development</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut </p>
          </div>
        </div> -->
      <!-- <div class="col-sm-6 col-md-3">
        <div class="service-item">
          <i class="ion-planet"></i>
          <h4>Brand Identity</h4>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut </p>
        </div>
      </div> -->
      <!-- <div class="col-sm-6 col-md-3">
        <div class="service-item">
          <i class="ion-earth"></i>
          <h4>Brand Identity</h4>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut </p>
        </div>
      </div> -->
    </div>
  </div>
</section>
<!-- Call to action Start -->
<!-- <section id="call-to-action">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="block">
          <h2>We design delightful digital experiences.</h2>
          <p>Read more about what we do and our philosophy of design. Judge for yourself The work and results we’ve
            achieved for other clients, and meet our highly experienced Team who just love to design.</p>
          <a class="btn btn-default btn-call-to-action" href="#">Tell Us Your Story</a>
        </div>
      </div>
    </div>
  </div>
</section> -->
<!-- Content Start -->
<!-- <section id="testimonial">
  <div class="container">
    <div class="row">
      <div class="section-title text-center">
        <h2>Fun Facts About Us</h2>
        <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind
          texts. Separated they live in Bookmarksgrove right at the coast of the Semantics</p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        {% if site.data.funfacts.size > 0 %}
        <div class="block">
          {% for ff in site.data.funfacts %}
          <ul class="counter-box clearfix">
            <li>
              <div class="block">
                <i class="{{ ff.icon }}"></i>
                <h4 class="counter">{{ ff.counter }}</h4>
                <span>{{ ff.text }}</span>
              </div>
            </li>
            {% endfor %}
          </ul>
        </div>
        {% endif %}
      </div>
      <div class="col-md-6">
        {% if site.data.testimonials.size > 0 %}
        <div class="testimonial-carousel">
          <div id="testimonial-slider" class="owl-carousel">
            {% for tm in site.data.testimonials %}
            <div>
              <img src="img/cotation.png" alt="IMG">
              <p>{{ tm.testimonial }}</p>
              <div class="user">
                <img src="{{ tm.image }}" alt="Pepole">
                <p><span>{{ tm.name }}</span> {{ tm.title }}</p>
              </div>
            </div>
            {% endfor %}
          </div>
        </div>
        {% endif %}
      </div>
    </div>
  </div>
</section> -->